config RT_USING_TINY_SIZE
    bool "This function will set the content of memory to specified value"
    default y


source "$RTT_DIR/src/Kconfig"
source "$RTT_DIR/libcpu/Kconfig"
source "$RTT_DIR/components/Kconfig"
# source "$RTT_DIR/examples/utest/testcases/Kconfig"
